---
import BaseHead from '../components/BaseHead.astro'
import Breadcrumb from '../components/Breadcrumb.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title="about" description="このサイトについて" />
  </head>
  <body class="flex min-h-screen flex-col">
    <main class="prose mx-auto w-full flex-1">
      <Breadcrumb
        nav={[
          { icon: 'home', link: '/', label: 'ホーム' },
          { title: 'このサイトについて' },
        ]}
      />
      <h1>自己紹介</h1>
      <span
        >名前: 平井駆<br />生年月日: <FormattedDate
          date={new Date('2001-07-11')}
        /></span
      >
    </main>
    <Footer />
  </body>
</html>
